.header {
    text-align: center;
    margin: 50px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 200px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
.image {
    width: 30%;
    min-width: 255px;
    text-align: center;
    margin: 30px 0;
}
.image a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
img:hover {
    transform: scale(1.1);
}



.block {
    background-color: purple;
    height: 200px;
    width: 200px;
    border-style: dashed ;
}
#bl1 {
    height: 200px;
    width: 200px;
    background-color: green;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
#bl2 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
}